<!-- Start Top Bar -->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><img class="logo" src="/img/Logo_Messages.png" alt="video"></li>
            <li class="menu-text">Blog</li>
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">A propos</a></li>
        </ul>
    </div>
    {{#if user}}
        <div class="top-bar-right" style="margin-right: 5rem">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="has-submenu">
                    <a href="#">Messages</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li>
                            <a href="/msg">Liste</a>
                        </li>
                        <li>
                            <a href="/msg/add">Ajouter</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a href="/users/logout">Déconnexion</a>
                </li>
            </ul>
        </div>
    {{else}}
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a href="/users/login">Login</a>
                </li>
                <li>
                    <a href="/users/register">Register</a>
                </li>
            </ul>
        </div>
    {{/if}}
</div>
<!-- End Top Bar -->

