<div class="callout primary">
    <h3>{{titre}}</h3>
    <p class="text-justify">Cette application est realisée avec NodeJS Express et MongoDB pour noter les cours à
        apprendre</p>
    <p>Version : 1.0.0</p>
</div>