doctype html
html
    head
        title Page Accueil
        link(rel='stylesheet' href='css/app.css')
        link(rel='icon' href='img/favicon.png')

    body
        //HEADER
        include templates/_header 

        //CONTENT
        include templates/_content

        //FOOTER
        include templates/_footer